<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <img class="main-image" src="../../assets/images/gallery-1.jpg">
                <img class="main-image" src="../../assets/images/gallery-2.jpg">
                <img class="main-image" src="../../assets/images/gallery-3.jpg">
                <img class="main-image" src="../../assets/images/gallery-4.jpg">
                <img class="main-image" src="../../assets/images/gallery-5.jpg">
                <img class="main-image" src="../../assets/images/gallery-6.jpg">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <img class="wide-image" src="../../assets/images/gallery-7.jpg">
                <img class="wide-image" src="../../assets/images/gallery-8.jpg">
                <img class="wide-image" src="../../assets/images/gallery-9.jpg">
                <img class="main-image" src="../../assets/images/gallery-10.jpg">
                <img class="wide-image" src="../../assets/images/gallery-11.jpg">
                <img class="wide-image" src="../../assets/images/gallery-12.jpg">
            </div>
        </div>
    </div>
    <div class="arrow-btn" (click)="showautomationMenu = !showautomationMenu"
    [style.background-color]="!!showautomationMenu ? 'rgba(var(--ui-2), var(--opacity-1))' : ''">
        <img src="../../assets/images/arrow-up-circle.svg" style="height: 30px;margin-top: 10px;">
  </div>
</div>